@import './reset.css';
@import './font.css';
.el-tabs .el-tabs__nav-wrap::after {
    background-color: #F2F2F2;
}

.el-tabs {
    .el-tabs__header {
        margin-bottom: 30px;
        .el-tabs__item {
            font-size: 16px;
            font-family: SourceHanSansCN-Normal;
            color: #333;
        }
    }
}